body{
    margin:0;
}
.top-nav{
    overflow:hidden;
    margin-left:7%;
}
.top-nav input[type=text]{
    padding:6px;
    margin-left:16px;
    font-size:17px;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1px;
}
.top-nav .search-container{
    float:left;
    margin-top:8%;
}
.top-nav .search-container button{
    padding:6px 10px;
    font-size:17px;
    border:none;
    cursor:pointer;
    background-color: rgba( 255, 255, 255, 0.5 );
}
.catagory .cat-cnt{
    display:none;
    position:absolute;
    background-color:#f1f1f1;
    min-width:160px;
    z-index:1;
}
.catagory .cat-cnt a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}
.catagory .cat-cnt a:hover{
    background-color:#ddd;
}
.catagory:hover .cat-cnt{
    display:block;
}
.catagory{
    display:inline-block;
    float: left;
    margin-top:8%;
    margin-left:3%;
    margin-right:3%;
}
.catagory .cat-btn{
    padding:5px;
    margin-left:8px;
    font-size:150%;
    border:none;
    color:gray;
    background-color:transparent;
}
#logo_img img{
    width:15%;
    float: left;
    display:inline-block;
}